.editor {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.editor .section-two{
  display: flex;
  flex: 1;
}

.editor .section-two .section-three{
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* 设置画布的区域 */
.editor-canvas {
  flex: 1;
}
